<!-- <h2 [style.color]="inputColor" appAppBold>Color is changing using ngModel</h2>
<input type="text" [(ngModel)]="inputColor"> -->

<div class="container">
    <div class="row">
        <ul class="nav nav-pills">
            <li><a routerLink="/home">Home</a></li>
        </ul>
    </div>

    <div>
        <h2>Place for components:</h2>
        <router-outlet></router-outlet>
    </div>

</div>
