<!--The content below is only a placeholder and can be replaced.-->
<div>
<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->
<app-content></app-content>
</div>


<!----<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<!-- <router-outlet></router-outlet> -->


<!-- <div>
  <h2>Hello!!</h2>
<app-header-component></app-header-component>
<p>This is app component html</p>
</div> -->