<div class="styleSideBar">
  <div>
  <h2 class="styleSideBarTitle"><u>Blocks of Angular</u></h2>
  <a>Modules</a>
  <a>Components</a>
  <a>Templates</a>
  <a>Metadata</a>
  <a>Data Binding</a>
  <a>Directives</a>
  <a>Services</a>
  <a>Dependency Injection</a>
</div>
</div>  
